/********************
    Search box scss
*********************/
.main-searchbox{
    position: relative;
    .fa-search{
        position: absolute;
        top: 6px;
        left: 6px;
     
    }
    .search-inputbox{
        padding-left: 25px;
      
    }
    .search-inputbox:focus{
        box-shadow: none;
        outline: none;
    }
}
/*************************
    Input Component scss
**************************/
.custom-input{
    width: 80%;
    padding-left: 10px;
}
.custom-input:focus{
    box-shadow: none;
    outline: none;
}

/*************************
    Button Component scss
**************************/
.custom-button{
    width: 10%;
    height: 40px;
    margin-right: 20px;
    color: white;
    background-color: skyblue;
    border: none;
}
.custom-button_add-user{
    width: 100%;
    height: 30px;
    margin-right: 20px;
    color: white;
    background-color: skyblue;
    border: none;
}


/*************************
    Modal Component scss
**************************/
.inner-form{
    position: relative;
    .user-form{    
        margin-top: 50px;
        .gender-div{
            display: flex;              
        }     
    }
}
.custom-button-close{
    position: absolute;
    top: 0;
    right: 0;
}

/*************************
    Search Dropdown scss
**************************/
.search-bar-dropdown{
    width: 22em;
    .ul-list{
        height: 20vh;
        overflow-y: scroll;
    }
}
#result{
    position: absolute;
    width: inherit;
}
#search-bar{
    width: inherit;
}